# OpenAI
OPENAI_API_KEY=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-northeast-2
SSDR_AWS_REGION=ap-northeast-2
SSDR_S3_BUCKET=

# Seoul Open API
SEOUL_ARRIVAL_API_KEY=
SEOUL_PASSENGER_API_KEY=

# Discord
DISCORD_WEBHOOK_URL=
